/*
 |----------------------------------------------------------------
 | Header
 |----------------------------------------------------------------
 */
.site-header {
    padding: 20px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    // &.is-sticky {
    //     background-color: $purple;
    // }
}

.talk-menu-btn {
    > a {
        border: 1px solid $white;
        padding: 10px 20px;
        display: inline-block;
        text-transform: uppercase;
        color: $white;

        &:hover {
            color: $white;
            background-color: $orange;
            border-color: $orange;
        }
    }
}

/*
 |----------------------------------------------------------------
 | Navigation
 |----------------------------------------------------------------
 */
.menu-trigger {
	display: none;
}

.burger-menu {
	width: 30px;
	height: 20px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $red;

    &:before, &:after {
        content: "";
        height: 4px;
        background: currentColor;
        opacity: 1;
        transform: translate(0, 0);
        transition-duration: 250ms;
        transition-delay: 250ms;
        transition-property: transform opacity;
    }

    .menu-opened & {
    	&:before {
            opacity: 0;
            transform: translateX(-10px);
            transition-delay: 0s;
        }

        &:after {
            opacity: 0;
            transform: translateX(10px);
            transition-delay: 0s;
        }
    }
}

.burger-line {
	position: relative;
	background: transparent;
    height: 4px;

    &:before, &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: currentColor;
        transform-origin: center;
        transition-duration: 500ms;
        transition-delay: 0s;
        transition-property: transform;
    }

	.menu-opened & {
        &:before {
            transform: rotate(45deg);
            transition-delay: 250ms;
        }

        &:after {
            transform: rotate(-45deg);
            transition-delay: 250ms;
        }
    }
}
