/*
 |----------------------------------------------------------------
 |  Font Faces
 |----------------------------------------------------------------
 */
//@mixin source() {
//    font-family: 'Source Serif Pro', serif;
//}
//
//@mixin roboto() {
//    font-family: 'Roboto Condensed', sans-serif;
//}
//
@mixin montserrat() {
    font-family: 'Montserrat', sans-serif;
}

@mixin main-font() {
   @include montserrat;
}

/*
 |----------------------------------------------------------------
 |  Button Base/Mixin
 |----------------------------------------------------------------
 */
@mixin button() {
    transition-duration: .2s;
    transition-property: background-color, color, border, opacity;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 0;
    min-width: 120px;
    min-height: 50px;
    cursor: pointer;
    position: relative;

    @include font-size(14);
    @include letter-spacing(20);
    text-transform: uppercase;
    //@include roboto;
    font-weight: $medium;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    outline: none;
    color: $white;
    background-color: $orange;
    box-shadow: 8px 5px 20px 0px rgba($black, .15);

    &:hover {
        background-color: $white;
        border-color: $white;
        color: $orange;
    }
}

@mixin button-style($style: 'default') {
    @if $style == 'default' {
        background-color: $white;
        color: $orange;
        &:hover {
            background-color: darken($orange, 10%);
            color: $white;
        }
    }

    @if $style == 'orange' {
        &:hover {
            background-color: darken($orange, 10%);
        }
    }

    @if $style == 'outlined-button' {
        background-color: transparent;
        color: $orange;
        border-color: $orange;

        &:hover {
            background-color:$white;
            color: $orange;
        }
    }
}


.button {
    &.outlined-button {
        @include button-style('outlined-button');
    }
}