/**
 *  Colors
================================================= */
$black      : #000000;
$white      : #ffffff;
$grey       : #a6a5b5;
$light-grey : rgba($grey, .2);
$purple     : #1d1a58;
$orange     : #f37022;

$red        : #e55a5a;
$blue       : #2f9ba8;

/**
 *  Text COlor
================================================= */
$maintext  : $black;
$highlight : $orange;
$border    : $light-grey;

/**
 *  Text Sylte
================================================= */
$light : 300;
$normal : 400;
$medium : 500;
$semi   : 600;
$bold   : 700;
$x-bold : 800;

/**
 *  Grid Settings
================================================= */
$max-screen  : 1400px;
$max-width   : 1200px;
$columns     : 12;
$block-grids : 6;
$gutter      : 10px;

/**
 *  Media Query
================================================= */
$below-max-screen : unquote("screen and (max-width:1799px)");
$below-max-width  : unquote("screen and (max-width:1199px)");
$below-desktop    : unquote("screen and (max-width:979px)");
$below-tablet     : unquote("screen and (max-width:767px)");
$below-mini       : unquote("screen and (max-width:639px)");
$below-mobile     : unquote("screen and (max-width:480px)");  // including 480 for perfect content

$above-max-width  : unquote("screen and (min-width:1200px)");
$above-desktop    : unquote("screen and (min-width:980px)");
$above-tablet     : unquote("screen and (min-width:768px)");
$above-mini       : unquote("screen and (min-width:640px)");
$above-mobile     : unquote("screen and (min-width:480px)");
